---
layout: default
title: Concert Amsterdam 
---


<!-- Header -->
{% include header.html %}

<!-- Westerkerk -->
<section class="grid-spaceAround-middle padded-5">
    
    <div class="col-5_sm-12-middle padded-5">
        <h1>Artiesten</h1>
        <h3>Martin Mans</h3>
        <p>De organist en dirigent Martin Mans werd geboren in Melissant, op het Zuid-Hollandse eiland Goeree-Overflakkee. Hij kreeg op 7-jarige leeftijd zijn eerste orgellessen en op 12-jarige leeftijd was hij al de vaste kerkorganist in zijn geboortedorp. Zijn hele leven staat in het teken van de muziek. Martin geeft per jaar gemiddeld tweehonderdenvijftig orgelconcerten in binnen- en buitenland en treedt regelmatig op voor radio en televisie. Daarnaast is Martin ook nog dirigent en combineert beide vaardigheden binnen een concert. Hij dirigeert vol overgave een aantal grote mannenkoren en heeft daarnaast enkele mannenensembles, waaronder de ‘Urker Mans Formatie’.</p>  
    </div>

    <div class="col-6_sm-12  padded-1 container">  <img src="/images/martin.jpg" height="100%">
    </div>
        
    <div class="col-5_sm-12-middle padded-5">
        <h3>De Urker Mans Formatie</h3>
        <p>De Urker Mans Formatie is een groep van veertien schitterende zangstemmen en hebben een jarenlange ervaring op zanggebied. Het ensemble treedt op in Urker tenue en brengen een gevarieerd programma. Urk is van oudsher verbonden met de zee en dat hoor je terug in het repertoire. ‘Ruwe stormen mogen woeden’ maar ook ‘Hij die rustig en stil’ getuigen hiervan. Een aantal zangers brengt bovendien een solo ten gehore waarbij hun stem nog beter tot zijn recht komt. Samen met Martin Mans en begeleider Mark Brandwijk brengen ze klassieke meesterwerken, orgelimprovisaties en populaire arrangementen; voor elk wat wils.</p>   
    </div>

    <div class="col-6_sm-12  padded-1 container">  <img src="/images/urk.jpg" height="100%">
    </div>

    <div class="col-5_sm-12-middle padded-5">
        <h3>Mark Brandwijk</h3>
        <p>Mark Brandwijk kreeg op 6-jarige leeftijd zijn eerste orgellessen in zijn woonplaats Krimpen aan den IJssel van Jaap den Besten. Tegenwoordig is hij als pianist actief als begeleider van koren, solisten en instrumentalisten. Zo is hij onder andere vaste begeleider van diverse Mannensembles van Martin Mans. Verder is hij ook nog werkzaam als dirigent van een aantal koren.</p>   
    </div>

    <div class="col-6_sm-12  padded-1 container">  <img src="/images/mark.jpg" height="100%">
    </div>
    
</section>

<!-- Kaartverkoop met background -->
{% include kaart-banner.html %}



<!-- Footer -->
{% include footer.html %}
