---
layout: default
title: Concert Amsterdam 
---


<!-- Header -->
{% include header.html %}


<section class="grid-spaceAround-top padded-5">
    <div class="col-7_sm-12bg-image padded-1">  <img src="/images/poster.jpg" height="100%">
    </div>
    <div class="col-5_sm-12 padded-5">
        <h1>Concert Amsterdam</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quaerat dicta, repellat est dolor libero laboriosam voluptatem beatae magnam. Soluta ad alias quidem, pariatur itaque tempore officiis necessitatibus excepturi ipsa!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit libero, rem, quaerat eaque veritatis, reiciendis alias nostrum blanditiis aperiam aliquam consectetur! Dolorem hic reiciendis id esse harum minus fugit natus.</p>        
    </div>

</section>



<!-- Kaartverkoop met background -->
<section class="grid-spaceAround-middle center vh-30 bg-image">
    <div class="col-8-middle">
        <a href class="button">KOOP HIER UW KAARTEN</a>
    </div>   
 </section>




 <!-- Westerkerk -->
 <section class="grid-spaceAround-middle padded-5">
    <div class="col-5_sm-12-middle padded-5">
        <h1>Westerkerk</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quaerat dicta, repellat est dolor libero laboriosam voluptatem beatae magnam. Soluta ad alias quidem, pariatur itaque tempore officiis necessitatibus excepturi ipsa!</p>        
    </div>
    <div class="col-7_sm-12bg-image padded-1">  <img src="/images/westerkerk.jpg" height="100%">
    </div>
    
</section>

<!-- Footer -->
{% include footer.html %}
