---
layout: default
title: Concert Amsterdam 
---


<!-- Header -->
{% include header.html %}


<section class="grid-spaceAround-top padded-5">
    <div class="col-7_sm-12bg-image padded-1">  <img src="/images/poster.jpg" height="100%">
    </div>
    <div class="col-5_sm-12 padded-5">
        <h1>Concert Amsterdam</h1>
        <p>Concert Amsterdam organiseert unieke concerten in monumentale kerken van Amsterdam. Op zaterdag 28 september geeft de bekende organist Martin Mans een concert, samen met de ‘Urker Mans Fomatie’. Het Duyschot orgel van de Westerkerk stamt uit 1686 en is een indrukwekkend instrument. De prachtige orgelluiken, met een hoogte van vijftien meter, zijn beschilderd door Gerard de Lairesse.</p>
        <p>De Urker Mans Fomatie is een groep van veertien schitterende zangstemmen en hebben een jarenlange ervaring op zanggebied. Samen met Martin Mans en begeleider Mark Brandwijk brengen ze een gevarieerd programma in de Westerkerk.  Van klassieke meesterwerken, orgelimprovisaties en populaire arrangementen; voor elk wat wils.</p> 
        <a href="https://www.nowonlinetickets.nl/Shop/EventDetails/A790D477084B81E64F3A94A4B81F3D43" class="link-dark" target="_blank">Koop alvast uw kaarten.</a>    
      
    </div>

</section>



<!-- Kaartverkoop met background -->
<section class="grid-spaceAround-middle center vh-30 bg-image">
    <div class="col-8-middle">
        <a href="https://www.nowonlinetickets.nl/Shop/EventDetails/A790D477084B81E64F3A94A4B81F3D43" class="button" target="_blank">KOOP HIER UW KAARTEN</a>
    </div>   
 </section>




 <!-- Westerkerk -->
 <section class="grid-spaceAround-middle padded-5">
    <div class="col-5_sm-12-middle padded-5">
        <h1>Westerkerk</h1>
        <p>De Westerkerk werd gebouwd door Hendrick de Keyser (1565-1621) en op 8 juni 1631 in gebruik genomen. De kerk is gebouwd in Renaissancestijl en staat aan de rand van de Amsterdamse Jordaan, aan de Prinsengracht. Indertijd al gold de Westerkerk als de grootste gereformeerde kerk ter wereld. In heel Amsterdam was er geen enkel gebouw hoger dan de toren van deze kerk (85 meter).</p> 
        <p>De Westertoren is verreweg de meest bezongen en beschreven kerktoren van Amsterdam, bijgenaamd ‘de Lange Jan’, ‘de Ouwe Wester’ of ‘de Parel van de Jordaan’. Op de toren staat een carillon met 51 klokken van onder anderen de gebroeders Hemony (1658).</p>       
    </div>
    <div class="col-7_sm-12bg-image padded-1">  <img src="/images/westerkerk.jpg" height="100%">
    </div>
    
</section>

<!-- Footer -->
{% include footer.html %}
