---
layout: default
title: Concert Amsterdam 
---


<!-- Header -->
{% include header.html %}

<!-- Westerkerk -->
<section class="grid-spaceAround-middle padded-5">
    <div class="col-5_sm-12-middle padded-5">
        <h1>Westerkerk</h1>
        <p>DDe Westerkerk werd gebouwd door Hendrick de Keyser (1565-1621) en op 8 juni 1631 in gebruik genomen. De kerk is gebouwd in Renaissancestijl en staat aan de rand van de Amsterdamse Jordaan, aan de Prinsengracht. Indertijd al gold de Westerkerk als de grootste gereformeerde kerk ter wereld. In heel Amsterdam was er geen enkel gebouw hoger dan de toren van deze kerk (85 meter).</p> 
        <p>De Westertoren is verreweg de meest bezongen en beschreven kerktoren van Amsterdam, bijgenaamd ‘de Lange Jan’, ‘de Ouwe Wester’ of ‘de Parel van de Jordaan’. Op de toren staat een carillon met 51 klokken van onder anderen de gebroeders Hemony (1658).</p>       
    </div>
    <div class="col-7_sm-12  padded-1 container">  <img src="/images/westerkerk.jpg" height="100%">
    </div>
    
</section>

<!-- Kaartverkoop met background -->
{% include kaart-banner.html %}



<!-- Footer -->
{% include footer.html %}
