<section class="grid-spaceAround-middle bg-blue padded-5">
    <div class="col-4 padded-1 hide-xs">
        <p><strong>CONTACT</strong></p>
        <p>Concert Amsterdam</p>
        <a class="link"   href="mailto:info@concertamsterdam.nl">info@concertamsterdam.nl</a>
        <p class="margin-t-2">Volg ons op Facebook</p>
        <a class='icon'  href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>        
    </div>

    <div class="col-6 padded-1 show-xs center">       
        <p><strong>Concert Amsterdam</strong></p>
        <a class="link"   href="mailto:info@concertamsterdam.nl">info@concertamsterdam.nl</a>
        <p>Volg ons op Facebook</p>
        <a class='icon'  href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a> 
    </div>
    



    <div class="col-4_sm-5_xs-12 center padded-1 bg-white">
        <a href="/index.html"><img src="/images/logo-staand.png" height='150px'> </a>

    </div>
</section>