<head>
    <title>{{page.title}}</title>

    <!------------ Technical Metadata  --------------------------------->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">


    <!------------ SEO Metadata  --------------------------------->
    <meta name="description" content="Concert Amsterdam, 28 september 2024 in de Westerkerk te Amsterdam. Met medewerking van Martin Mans en de Urker Mans Formatie.">
    <meta name="keywords" content="Concert Amsterdam, concert, amsterdam, nederland, westerkerk, muziek, orgel, koor, urker mans formatie">

    <!------------  Social media sharing META Tags ------------>
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{[page.description]}}"> 
    <meta property="og:image" content="https://www.concertamsterdam.com/images/logo-liggend.png">
    <meta property="og:url" content="https://www.concertamsterdam.nl"> 


    <!-- Google Fonts -->
    

    <!-- Favicon     -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <!-- My stylesheet -->
    <link rel="stylesheet" href="/style.css">
</head>