
<!-- Rode balk -->
<section class="grid-middle bg-red vh-05">
</section>


<!-- Logo -->
<header class="grid-spaceAround-middle center padded-3 padded-b-0">    
    <div class="col-8_sm-10_xs-12">
        <a class="hide-xs logo" href="/index.html"><img src="/images/logo-liggend.png" height='150px'> </a>
        <a class="show-xs" href="/index.html"><img src="/images/logo-liggend.png" height='100px'> </a>
    </div>
    <nav class='col-12-spaceAround hide-sm'>
        <a href="/concert.html">Concert</a>
        <a href="/artiesten.html">Artiesten</a>
        <a href="/westerkerk.html">Westerkerk</a>
        <a href="/tickets.html">Kaartverkoop</a>
        <a href="/contact.html">Contact</a>
    </nav>

    <div class="col-12 right show-sm">
        <div class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    </header>

    <section class="mobile-menu bg-blue">
        <div class="col-12 right bg-blue mobile">
            <a href="/concert.html">Concert</a>
            <a href="/artiesten.html">Artiesten</a>
            <a href="/westerkerk.html">Westerkerk</a>
            <a href="/tickets.html">Kaartverkoop</a>
            <a href="/contact.html">Contact</a>
        </div> 



</section>

<!-- Kaartverkoop -->

<section class="grid-spaceAround-middle bg-blue vh-20">
    <div class="col-8 center">
    <a href="https://www.nowonlinetickets.nl/Shop/EventDetails/A790D477084B81E64F3A94A4B81F3D43" class="button" target="_blank">KOOP HIER UW KAARTEN</a>
</div>
</section>