
<!-- Rode balk -->
<section class="grid-middle bg-red vh-05">
</section>


<!-- Logo -->
<section class="grid-spaceAround-middle center padded-3">    
    <div class="col-8_sm-10_xs-12">
        <a class="hide-xs" href="/index.html"><img src="/images/logo-liggend.png" height='150px'> </a>

        <a class="show-xs" href="/index.html"><img src="/images/logo-liggend.png" height='100px'> </a>

    </div>
</section>

<!-- Kaartverkoop -->

<section class="grid-spaceAround-middle bg-blue vh-20">
    <div class="col-8 center">
    <a href class="button">KOOP HIER UW KAARTEN</a>
</div>
</section>