<!DOCTYPE html>
<html>
    {% include head.html %}

<body>

    {{content}}


<!-- This is the Jquery script cdnjs. Always goes first. -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Our custom javascript file. Always goes last.  -->
<script src="scripts.js"></script>





</body>

</html>